@import "tailwindcss";

@theme {
    /* Apple-inspired deep dark mode palette */
    --color-tech-background: #0A0A0A;
    --color-tech-surface: #171717;
    --color-tech-border: #262626;
    --color-tech-accent: #3B82F6;
    --color-tech-glow: rgba(59, 130, 246, 0.15);

    /* Typography overrides */
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jetbrains);
}


body {
    background-color: var(--color-tech-background);
    color: white;
}